
.content {
  a {
    text-decoration: underline;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  strong {
    font-width: bold;
  }
  em {
    font-style: italic;
  }
  p {
    font-family: $font-family-base;
    line-height: 1.56;
    color: $steel;
  }
  h1 {
    font-family: $font-family-base;
    font-size: 34px;
    line-height: 1.26;
    font-weight: normal;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  h2 {
    font-family: $font-family-base;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.4;
    margin-top: 30px;
  }
  h3 {
    font-family: $font-family-base;
    font-size: 20px;
    line-height: 1.4;
    font-weight: normal;
    margin-top: 30px;
  }
  ul,
  ol {
    margin-bottom: 20px;
    ul,
    ol {
      margin-bottom: 0;
    }
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  li {
    margin-bottom: 5px;
    line-height: 1.56;
    margin-left: 20px;
    color: $steel;
  }
  hr {
    border: none;
    border-bottom: 1px solid $white-offset;
  }
  table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    th,
    td {
      padding: 5px;
      vertical-align: top;
      border-top: 1px solid $white-offset;
    }
    thead th {
      vertical-align: bottom;
      border-bottom: 1px solid $white-offset;
      text-align: left;
      font-weight: bold;
    }
    tbody + tbody {
      border-top: 1px solid $white-offset;
    }
  }
  blockquote {
    padding: 0 1em;
    color: $steel;
    border-left: .25em solid $secondary;
  }
}
.mapp >div >iframe {
  min-height: 500px;
}
.hometext p {
  padding: 0 20px;
}
form {
  margin-bottom:40px;
}
.form-group {
  font-size: 0.9em;
  input {
    font-size: 0.9em;
  }
  textarea {
    font-size: 0.9em;
    height: 120px;
  }
}

.icons {
  background: $primary;
  border-radius: 17px;
  width: 24px;
  padding: 4px;
  &.office {
    padding: 4px 6px;
    display:inline;
    vertical-align:top;
    margin-bottom: 25px;
  }
}
.service {
  h3 {
    display:inline;
    vertical-align: top;
    margin-left: 10px;
    line-height: 40px;
  }
  .icons {
    width: 36px;
    border-radius: 30px;
    padding: 8px;
  }
}
.intro p.officetext {
  display:inline;
  vertical-align:top;
  margin-left:10px;
  font-size:0.9em;
  font-weight:400;
  line-height: 24px;
}
.contacttext {
  margin: 30px 0;
}
//   button {
//     margin-left:260px;
//     border: 1px solid #444;
//     border-radius: 3px;
//     padding:3px;
//   }
//   input {
//     width: 200px;
//   }
//   label {
//     width: 80px;
//     margin-bottom: 0.7rem;
//   }
//   .leftlabel {
//     float:left;
//   }
//   font-size:0.8rem;

// }