.feature {
  height: 100%;
  border: 1px solid $white-offset;
  border-radius: 3px;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .feature-image {
    flex: 0 0 auto;
    width: 110px;
    height: 81px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    img {
      width:110px;
      height:81px;
    }
  }
  img {
    // width: 100%;
    height: auto;
  }
  .feature-title {
  }
  .feature-content {
    margin-bottom: 0;
    margin-top: auto;
    font-size:17px;
    &.small {
      font-size:14px;
      color:black;
      border-top: 1px solid rgb(35,85,121);
      margin-top: 22px;
      padding: 20px 8px;
    }
  }
}
