.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
  @include media-breakpoint-up(md) {
    padding-top: 55px;
    padding-bottom: 140px;
  }
  &.image-bg {
    @include media-breakpoint-up(md) {
      background-image: url('/images/illustrations/nyc2.jpg');
    }
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
  }

    // opacity: 0.6;

  h1 {
    color: $black;
    font-size: 42px;
    font-weight: 400;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      width: 80%;
      font-size: 48px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 60px;
    }
  }
  h2 {
    width: 80%;
    font-size: 1.7rem;
    line-height: 1.4;
    font-weight:400;
    margin-bottom: 30px;
    color: $black;
    font-family: $font-family-base;
  }
  p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    color: #000;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
  }
}
.centreimg {
  margin: auto;
  margin-top: 60px;
  width: 400px;
  max-height: 216px;
  max-width: 80%;
}
.centretext {
  font-size: 50px;
  text-align: center;
  margin: auto;
  margin-top:50px;
  margin-bottom:100px;
}
.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
